APP_NAME="SBB pick & pack platform"
MAIL_LOGO_URL="https://brigette-incredible-monte.ngrok-free.dev:3000/images/sbb-logo.png"
APP_ENV=local
APP_KEY=
APP_DEBUG=true

LOG_CHANNEL=stack
LOG_LEVEL=debug
LOG_CHANNEL=daily

DB_CONNECTION=sqlite
# The path to the database file should be absolute, make sure to update it!
DB_DATABASE=
DB_FOREIGN_KEYS=true


SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=none

HOST=
APP_URL=

VITE_APP_STATUS="Test"

# Shopify (required for orders)
SHOPIFY_STORE_DOMAIN=
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_API_VERSION=

# Business Central
BC_TENANT_ID=
BC_CLIENT_ID=
BC_CLIENT_SECRET=
BC_ENVIRONMENT=
BC_COMPANY_NAME=
BC_COMPANY_ID=

# Webshipper
WEBSHIPPER_ACCOUNT_NAME=
WEBSHIPPER_ACCESS_TOKEN=


#mailgun
MAIL_MAILER=smtp
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Redis (Horizon & Laravel Queue)
QUEUE_CONNECTION=redis
REDIS_CLIENT=predis

# Telescope
# enable this in production and set it for false when no longer needed
# TELESCOPE_ENABLED=true